@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

body {
  background-color: #0a192f;
  font-family     : "Poppins", sans-serif;
  font-size       : 1rem;
  line-height     : 1.5;
  color           : white
}

body::-webkit-scrollbar {
  width     : 8px;
  background: #0c3d42;
}

body::-webkit-scrollbar-thumb {
  background   : #009bcaad;
  border-radius: 10px;
  border-right : 1px solid #64ffda;
  cursor       : pointer;
}

a {
  text-decoration: none;
  color          : #ccd6f6;
}

a:hover {
  color: #64ffda
}

main {
  margin-top: 80px
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
}

.bar-left {
  color      : #a8b2d1;
  position   : fixed;
  bottom     : 0;
  margin-left: 150px;
}

.color1 {
  color: #96a1c3
}

.color2 {
  color: #64ffda;
}

.title {
  display       : flex;
  flex-direction: column;
}

.name {
  font-size  : 60px;
  color      : #ccd6f6;
  font-weight: bold;
}

.area {
  font-size: 16px;
}

.container-description {
  max-width : 600px;
  margin-top: 10px;
}

.list-left {
  list-style  : none;
  padding-left: 0;
}

.social {
  margin-bottom: 15px;
  font-size    : 20px;
  color        : #8892b0;
  text-align   : center;
}

.social:hover {
  transform: scale(1.2);
}

.social>a>i {
  box-shadow   : 0px 3px 13px 3px rgb(89 241 241 / 34%);
  border-radius: 100%;
}

.social-whatsapp {
  display: none
}

.barra {
  border       : 1px solid #8892b0;
  border-radius: 10px;
  padding      : 15px 0px;
  cursor       : pointer;
}

.number {
  writing-mode: vertical-lr;
  transform   : rotate(180deg);
}

.num-whatsapp {
  transform: rotate(50deg);
  color    : #00ff7e;
}

.habilidad {
  margin-top: 50px
}

.img-hab {
  width        : 45px;
  background   : #00e8ff47;
  border-radius: 10px;
  padding      : 3px;
  margin-top   : 15px;
}

.lg {
  width: 35px;
}

.img-hab:hover {
  transform: scale(1.2);
  cursor   : pointer;
}

.proyects {
  margin-top   : 50px;
  border-radius: 5px;
}

@media only screen and (max-width: 1660px) {

  .bar-left {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 400px) {
  main {
    margin-top: 60px
  }

  .bar-left {
    color   : #a8b2d1;
    position: absolute;
    top     : 10px;
    right   : 10px;
  }

  .barra {
    display: none
  }

  .social-whatsapp {
    display: block
  }

  .name {
    font-size: 40px;
  }
}